<!DOCTYPE html>
<html lang=" pt-br">
  <head>
    <meta charset="utf-8/" />
    <title>PulmO2nare Serviços</title>
    <link rel="stylesheet" href="\styles\stylee.css" />
  </head>
  <body>
    <div class="ftlogo">
      <img id="pulmonareLG" src="\Imagens\pulmonareLG.jpg" />
    </div>

    <h2 class="titulo-centralizado">
      <strong> PulmO<em>2</em>nare - Fisioterapia Home Care</strong>
    </h2>
    <div class="botoes-alinhados">
     <a href="\Templates\indexx.html"><button class="btn first" >Home</button></a>
      <a href="\Templates\conhece.fisio.html"><button
        class="btn second">
        Fisioterapeutas
      </button></a>
      <a href="\templates\tipos.atendimentos.html"><button class="btn third" >
        Tipos de Atendimentos
      </button></a>
      <a href="\Templates\marcacao.html"> <button class="btn fourth">Marcação</button></a>
    </div>
    <div class="tipos">
      <nav>
        <ul></ul>
      </nav>
    </div>
    <div class="container">
      <img src="\Imagens\ft.atend.cw2.jpg" height="500" width="540" alt="Atendimento" />
      <p class="missao">
        A PulmO<em class="subescrito">2</em>nare é uma sociedade de
        Fisioterapeutas empenhadas em trazer bem estar e saúde para seus
        pacientes. Nossa missão é melhorar sua saúde e reestabelecer a qualidade
        de vida de quem nos procura. A nossa metodologia é segura, as bases científicas 
        para o desenvolvimento do método trazem a influência de protocolos INTERNACIONAIS,
        tudo para oferecer o que há de mais moderno e qualificado para recuperar a sua saúde.
      </p>
    </div>
    <div class="benecifios-container">
      <h3 class="beneficios">Benefícios:</h3>
      <ul class="hgf">
        <li class="itens">Atendimento Humanizado.</li>
        <li class="itens">Profissionais qualificados.</li>
        <li class="itens">Alta qualidade técnico científico.</li>
        <li class="itens">Comodidade</li>
      </ul>
    </div>
  </body>
</html>
