<!DOCTYPE html>
<html lang=" pt-br">
  <head>
    <meta charset="utf-8/" />
    <title>PulmO2nare Serviços</title>
    <link rel="stylesheet" href="\styles\stylee.css" />
  </head>
  <body>
    <div class="ftlogo">
      <img id="pulmonareLG" src="\Imagens\pulmonareLG.jpg" />
    </div>

    <h2 class="titulo-centralizado">
      <strong> PulmO<em>2</em>nare - Fisioterapia Home Care</strong>
    </h2>
    <div class="botoes-alinhados">
     <a href="\Templates\indexx.html"><button class="btn first" >Home</button></a>
      <a href="\Templates\conhece.fisio.html"><button
        class="btn second">
        Fisioterapeutas
      </button></a>
      <a href="\templates\tipos.atendimentos.html"><button class="btn third" >
        Tipos de Atendimentos
      </button></a>
      <a href="\Templates\marcacao.html"> <button class="btn fourth">Marcação</button></a>
    </div>
    <div class="tipos">
      <nav>
        <ul></ul>
      </nav>
    </div>
