<!DOCTYPE html>
<html lang=" pt-br">
  <head>
    <meta charset="utf-8/" />
    <title>PulmO2nare Serviços</title>
    <link rel="stylesheet" href="\styles\style.ft.css" />
  </head>
  <body>
    <div class="ftlogo">
      <img id="pulmonareLG" src="\Imagens\pulmonareLG.jpg" />
    </div>

    <h2 class="titulo-centralizado">
      <strong> PulmO<em>2</em>nare - Fisioterapia Home Care</strong>
    </h2>
    <div class="botoes-alinhados">
     <a href="\Templates\indexx.html"><button class="btn first" >Home</button></a>
      <a href="\Templates\conhece.fisio.html"><button
        class="btn second">
        Fisioterapeutas
      </button></a>
      <a href="\templates\tipos.atendimentos.html"><button class="btn third" >
        Tipos de Atendimentos
      </button></a>
      <a href="\Templates\marcacao.html"> <button class="btn fourth">Marcação</button></a>
    </div>
    <div class="container-cw">
      <img src="\Imagens\ft.cw.prof1.jpg" height="270" width="310" alt="Atendimento" />
      <p class="resumoclara" fonte-size="10 ">
        Docente e Gestora de Extensão da Faculdade UNINTA de Itapipoca.
        Mestra em Saúde da Família pela Universidade Federal do Ceará, na linha de pesquisa:
        Estratégias de Educação Permanente e Desenvolvimento Profissional em Saúde da Família.
        Especialista em Pediatria pelo programa de Residência Integrada em Saúde da Escola
        de Saúde Pública do Ceará- RIS-ESP/CE em parceria com o Hospital Infantil Albert Sabin.
        Especialista em Terapia Intensiva pela Escola de Saúde Pública do Ceará, ESP/Ce. 
        Especialista em Saúde da Família pela Escola de Saúde Pública do Ceará, ESP/Ce. 
        Especialista em Estratégias de Enfrentamento a Violência Contra a Mulher, pela ESP/Ce. 
        Formação em Preceptoria pela Escola de Saúde Pública do Ceará. Bacharel em 
        Fisioterapia pela Unichristus. Pedagoga com habilitação em Fisiologia, Bioquímica e
        Biologia Geral pela Universidade Estadual do Ceará. Formação em Educação de Jovens 
        e Adultos pela Universidade Federal do Ceará.
      </p>
    </div>
    
 
