body {
  padding: 0;
  margin: 0;
  background-color: #3c948c;
}
.ftlogo {
  text-align: center;
  margin: 30 auto;
}

.titulo-centralizado {
  background-position: top;
  text-align: center;
  font-size: 70px;
  position: static;
  top: 355px;
  right: 350px;
}

strong {
  color: #f5cc4d;
  text-align: center;
  position: relative;
  color: #f5cc4d;
  text-shadow: -1px -1px 0px #000, -2px 2px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000;
}

em {
  font-size: 20px;
}

.first {
  border-color: #f5cc4d;
  color: #040101;
  box-shadow: 0 0 100px 100px #29a69c inset, 0 0 0 0 #74b6b0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 40px;
}
.first:hover {
  box-shadow: 0 0 10px 0 #3c948c inset, 0 0 10px 4px #3c948c;
}
.second {
  border-color: #f5cc4d;
  color: #040101;
  box-shadow: 0 0 100px 100px #29a69c inset, 0 0 0 0 #74b6b0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 40px;
}
.second:hover {
  box-shadow: 0 0 10px 0 #3c948c inset, 0 0 10px 4px #3c948c;
}

.third {
  border-color: #f5cc4d;
  color: #040101;
  box-shadow: 0 0 100px 100px #29a69c inset, 0 0 0 0 #74b6b0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 40px;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3c948c inset, 0 0 10px 4px #3c948c;
}
.fourth {
  border-color: #f5cc4d;
  color: #040101;
  box-shadow: 0 0 100px 100px #29a69c inset, 0 0 0 0 #13766e;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 40px;
}
.fourth:hover {
  box-shadow: 0 0 10px 0 #042926 inset, 0 0 10px 4px #3c948c;
}

.botoes-alinhados {
  text-align: center;
  position: relative;
  word-spacing: 10em;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card {
  background-color: rgba(19, 19, 19, 0.3);
  padding: 40px;
  border-radius: 2px;
  width: 280px;
}

.card-header {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #fff;
  
}

.card-header::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: -17px;
  margin-left: -5px;
}

.card-content label {
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}

.card-content-area {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-content-area input {
  margin-top: 5px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #fff;
}

.new-card {
  display: flex;
  flex-direction: column;
}

.new-card .submit {
  width: 5%;
  height: 40px;
  background-color: #f5cc4d;
  border: none;
  color: #000000;
  margin: 10px 0;
  margin-left: 900px;
  margin-top: 1px;
}

.new-card {
  text-align: top;
  font-size: 20px;
  opacity: 0.8;
  color: #f5cc4d;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.esqueceu-card {
  text-align: top;
  font-size: 20px;
  opacity: 0.8;
  color: #f5cc4d;
  text-decoration: none;
  text-align: center;
  position: relative;
  top: 10;
}
